<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list no-border>

    <ion-item>
      <ion-avatar item-left>
        <ion-icon name='person'></ion-icon>
      </ion-avatar>
      <p>
        Full Name
        <p>
          <h2>
            {{ profile.name }}
          </h2>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <ion-icon name='barcode'></ion-icon>
      </ion-avatar>
      <p>
        Staff Number
        <p>
          <h2>
            {{ profile.staffNumber }}
          </h2>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <ion-icon name='mail'></ion-icon>
      </ion-avatar>
      <p>
        Email Address
        <p>
          <h2>
            {{ profile.email }}
          </h2>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <ion-icon name='home'></ion-icon>
      </ion-avatar>
      <p>
        Department
        <p>
          <h2>
            {{ profile.department }}
          </h2>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <ion-icon name='at'></ion-icon>
      </ion-avatar>
      <p>
        Base Location
        <p>
          <h2>
            {{ profile.baseLocation }}
          </h2>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <ion-icon name="lock" *ngIf="account.isActivated" item-right color="secondary"></ion-icon>
        <ion-icon name="unlock" *ngIf="!account.isActivated" item-right color="danger"></ion-icon>
      </ion-avatar>
      <p>Account Status</p>
      <h2 *ngIf="account.isActivated">
        Account is activated. 
      </h2>
      <h2 *ngIf="!account.isActivated">
        Account is inactive.
      </h2> {{ account.isActivated }}
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <button ion-button full round color="primary" (click)="signUp()">
          <ion-icon name="person"></ion-icon>&nbsp;&nbsp;Sign Up
        </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button full round color="danger" *ngIf="account.isActivated" disabled>
          <ion-icon name="lock"></ion-icon>&nbsp;&nbsp;Log In 
        </button>
        <button ion-button full round color="danger" *ngIf="!account.isActivated" (click)="signIn()">
          <ion-icon name="lock"></ion-icon>&nbsp;&nbsp;Log In 
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>