<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-card class="card-ios">
            <ion-card-header>
                <p>Salam HoRMAT</p>
                <!--<p>Salam HoRMAT {{ name }} ({{ staffNumber }}) </p>-->
            </ion-card-header>
        </ion-card>
        <ion-list>
            <ion-list-header class="item-content">
                <ion-icon name="clock" item-left color="primary"></ion-icon>
                 Account
            </ion-list-header>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon [name]="p.icon" light item-left></ion-icon>
                <p>{{p.title}}</p>
            </button>

            <!--<ion-list-header class="item-content">
                <ion-icon name="stats" item-left color="primary"></ion-icon>
                 Statistics
            </ion-list-header>
            <button menuClose ion-item *ngFor="let stat of stats" (click)="openPage(stat)">
                <ion-icon [name]="stat.icon" light item-left></ion-icon>
                <p>{{stat.title}}</p>
            </button>-->

            <ion-list-header class="item-content">
                <ion-icon name="lock" item-left color="primary"></ion-icon>
                 Log In
            </ion-list-header>
            <button menuClose ion-item *ngFor="let op of operations" (click)="openPage(op)">
                <ion-icon [name]="op.icon" light item-left></ion-icon>
                <p>{{op.title}}</p>
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>